.custom_checklist{
    margin:150px 0 100px 0;
}
 h1{
    font-weight:bold;
    color: #133960;
    margin-top: 200px;
}
form label{
    font-weight:bold;
     color: #133960;
}
.btn_check{
    width:150px;
    background: #fad565;
}
#ard {
    font-weight:bold;
    color: #133960;
}

button{
    color: #133960;
}
.trhead{
    background: rgb(110,164,174);
    font-size: 14px;
}
.table thead th{
    vertical-align: initial !important;
}
.personImg {
    height: 100%;
    width: 100%;
}
.imgdiv{
    width: 80%;
    margin-left: 30px;
    height: 378px;
}
@media (max-width: 425px) and (min-width:320px){
    .textcheck{
         margin-top:33px;
    }
}